In [2]:
##importing libraries
import pandas as pd
import re
import glob
from natsort import natsorted, ns ## natural sorting

# reading and cleaning csvs

In [4]:
first = pd.read_csv("PPP CSV/first.csv")
second = pd.read_csv("PPP CSV/second.csv")
third = pd.read_csv("PPP CSV/third.csv")
fourth = pd.read_csv("PPP CSV/fourth.csv")
fifth = pd.read_csv("PPP CSV/fifth.csv")
sixth = pd.read_csv("PPP CSV/sixth.csv")
seventh = pd.read_csv("PPP CSV/seventh.csv")
eighth = pd.read_csv("PPP CSV/eight.csv")
ninth = pd.read_csv("PPP CSV/ninth.csv")
tenth = pd.read_csv("PPP CSV/tenth.csv")
eleven = pd.read_csv("PPP CSV/eleventh.csv")
twelve = pd.read_csv("PPP CSV/twelve.csv")
thirteen = pd.read_csv("PPP CSV/thirteen.csv")

/Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
print(first)

        LoanNumber DateApproved  SBAOfficeCode ProcessingMethod  \
0       9547507704   05/01/2020            464              PPP
1       9777677704   05/01/2020            464              PPP
2       5791407702   05/01/2020           1013              PPP
3       6223567700   05/01/2020            920              PPP
4       9662437702   05/01/2020            101              PPP
...            ...          ...            ...              ...
968552  4395967002   04/03/2020            897              PPP
968553  6985647108   04/14/2020            897              PPP
968554  7996438405   02/12/2021            897              PPS
968555  9054647103   04/15/2020            897              PPP
968556  9184687004   04/09/2020            897              PPP

                                             BorrowerName  \
0                                   SUMTER COATINGS, INC.
1                                   PLEASANT PLACES, INC.
2                                 BOYER CHILDREN'S CLINIC
3                                KIRTLEY CONSTRUCTION INC
4                                            AERO BOX LLC
...                                                   ...
968552                           ROY E PAULSON, JR., P.C.
968553  SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...
968554                  ELECTRICAL SYSTEMS OF WYOMING INC
968555                                     EDEN LIFE CARE
968556                      S & S JOHNSON ENTERPRISES INC

                      BorrowerAddress      BorrowerCity BorrowerState  \
0               2410 Highway 15 South            Sumter           NaN
1                 7684 Southrail Road  North Charleston           NaN
2                    1850 BOYER AVE E           SEATTLE           NaN
3                1661 MARTIN RANCH RD    SAN BERNARDINO           NaN
4                                 NaN               NaN           NaN
...                               ...               ...           ...
968552                 102 N. Kenwood            CASPER            WY
968553          1715 HITCHING POST DR       GREEN RIVER            WY
968554                   1105 Adon Rd             Rozet            WY
968555  30 N. Gould Street Suite 4000          SHERIDAN            WY
968556           7342 Granite Loop Rd     TETON VILLAGE            WY

       BorrowerZip LoanStatusDate  ...                 BusinessType  \
0       29150-9662     12/18/2020  ...                  Corporation
1       29420-9000     09/28/2021  ...          Sole Proprietorship
2       98112-2922     03/17/2021  ...      Non-Profit Organization
3       92407-1740     10/16/2021  ...                  Corporation
4              NaN     08/17/2021  ...                          NaN
...            ...            ...  ...                          ...
968552  82601-2724     01/13/2021  ...                  Corporation
968553  82935-5783     12/08/2020  ...  Non-Profit Childcare Center
968554  82727-8465     09/15/2021  ...     Subchapter S Corporation
968555       82801            NaN  ...                  Corporation
968556  83025-0550     10/22/2021  ...     Subchapter S Corporation

        OriginatingLenderLocationID                      OriginatingLender  \
0                             19248                           Synovus Bank
1                             19248                           Synovus Bank
2                              9551  Bank of America, National Association
3                              9551  Bank of America, National Association
4                             57328           The Huntington National Bank
...                             ...                                    ...
968552                        42366                     Platte Valley Bank
968553                       122813                      NebraskaLand Bank
968554                        77189        First National Bank of Gillette
968555                        25901                    Small Business Bank
968556                        77193                   Bank of Jackson Hole

        OriginatingLenderCity  OriginatingLenderState        Gender  \
0                    COLUMBUS                      GA    Unanswered
1                    COLUMBUS                      GA    Male Owned
2                   CHARLOTTE                      NC    Unanswered
3                   CHARLOTTE                      NC    Unanswered
4                    COLUMBUS                      OH    Unanswered
...                       ...                     ...           ...
968552             TORRINGTON                      WY    Male Owned
968553           NORTH PLATTE                      NE    Unanswered
968554               GILLETTE                      WY  Female Owned
968555                 LENEXA                      KS    Unanswered
968556                JACKSON                      WY    Unanswered

            Veteran  NonProfit ForgivenessAmount ForgivenessDate
0        Unanswered        NaN         773553.37      11/20/2020
1       Non-Veteran        NaN         746336.24      08/12/2021
2        Unanswered          Y         696677.49      02/10/2021
3        Unanswered        NaN         395264.11      09/10/2021
4        Unanswered        NaN         370819.35      04/08/2021
...             ...        ...               ...             ...
968552  Non-Veteran        NaN         151037.50      12/09/2020
968553   Unanswered          Y         150789.04      11/03/2020
968554   Unanswered        NaN         150743.84      08/17/2021
968555   Unanswered        NaN               NaN             NaN
968556   Unanswered        NaN         152162.50      09/22/2021

[968557 rows x 53 columns]

In [8]:
### csv for more than $150,000 in loans
state_filter = first.BorrowerState == "NY"
ny1_csv= first[state_filter]
ny1_csv

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
605841,1009208907,04/24/2021,202,PPP,THE CENTER FOR DISCOVERY INC.,641 Old Route 17,Monticello,NY,12701-7014,NaN,...,501(c)3 – Non Profit,29805,"TD Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,Y,NaN,NaN
605842,1029567410,05/03/2020,202,PPP,"BEDDING ACQUISITION, LLC",60 EAST 42ND ST SUITE 1250,NEW YORK,NY,10165-1299,07/16/2021,...,Limited Liability Company(LLC),119918,East West Bank,PASADENA,CA,Unanswered,Unanswered,NaN,10110555.56,06/11/2021
605843,1040387100,04/09/2020,202,PPP,P A L ENVIRONMENTAL SAFETY CORP,1102 QUEENS PLZ S,LONG ISLAND CITY,NY,11101-4908,NaN,...,Corporation,378617,"HSBC Bank USA, National Association",MCLEAN,VA,Unanswered,Unanswered,NaN,NaN,NaN
605844,1060377105,04/09/2020,202,PPP,"CHOP'T HOLDINGS, LLC","853 Broadway, Suite 606 0.0",New York,NY,10003-4723,NaN,...,Partnership,48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,NaN,NaN
605845,1100587104,04/09/2020,202,PPP,SENTRY CENTERS HOLDINGS LLC,"101 Greenwich Street, 4th Floor 0.0",New York,NY,10006-1867,07/22/2021,...,Limited Liability Company(LLC),48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,10115966.67,06/11/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679949,9808878607,03/26/2021,202,PPP,ALT BUSINESS PLATFORMS INC,13159 224th St,Laurelton,NY,11413-1727,NaN,...,Subchapter S Corporation,456756,Cross River Bank,TEANECK,NJ,Male Owned,Non-Veteran,NaN,150941.10,11/16/2021
679950,9818628508,03/12/2021,235,PPS,GREEN WELLNESS CENTER & DAY SPA INC,519 Central Ave,Massapequa,NY,11758-4904,NaN,...,Corporation,224780,New York Business Development Corporation,Albany,NY,Female Owned,Unanswered,NaN,NaN,NaN
679951,9905798609,03/26/2021,296,PPS,COMMUNITY ACTION OF ORLEANS AND GENESEE COUNTY...,409 E State St,Albion,NY,14411-1123,NaN,...,Non-Profit Organization,50167,Five Star Bank,WARSAW,NY,Unanswered,Unanswered,Y,150950.00,11/15/2021
679952,9985928403,02/18/2021,235,PPS,D & D BILLING SERVICS INC,1175 W Broadway,Hewlett,NY,11557-1932,NaN,...,Limited Liability Company(LLC),84894,"Santander Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,NaN,NaN
679953,9987927204,04/28/2020,235,PPP,BEAR STEEL INC.,53 Hanse Ave,Freeport,NY,11520-4608,05/15/2021,...,Corporation,317954,"Newtek Small Business Finance, Inc.",LAKE SUCCESS,NY,Unanswered,Unanswered,NaN,151404.17,04/08/2021

In [20]:
### first csv for less than $150,000 in loans
state2_filter = ninth.BorrowerState == "NY"
ny2_csv= ninth[state2_filter]
ny2_csv

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
608441,6435828301,01/27/2021,202,PPS,MEDUSA NYC LLC,133 5th Ave,Brooklyn,NY,11217-4661,NaN,...,Limited Liability Company(LLC),46104,Dime Community Bank,BRIDGEHAMPTON,NY,Male Owned,Non-Veteran,NaN,NaN,NaN
608442,1147148508,02/18/2021,202,PPS,INDAY 1178 LLC,1133 Broadway,New York,NY,10010-7903,NaN,...,Limited Liability Company(LLC),48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Male Owned,Non-Veteran,NaN,NaN,NaN
608443,2232378310,01/20/2021,202,PPS,PEKAR HANDWERKER NYC LLC,136 Atlantic Ave Ste 1,Brooklyn,NY,11201-6878,09/24/2021,...,Limited Liability Company(LLC),9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,150853.79,08/18/2021
608444,2704658310,01/21/2021,235,PPS,METRO HAIR MODES INC,1850 Newbridge Rd,North Bellmore,NY,11710-2219,09/25/2021,...,Subchapter S Corporation,224478,Signature Bank,NEW YORK CITY,NY,Unanswered,Unanswered,NaN,150919.54,09/09/2021
608445,2747348300,01/21/2021,202,PPS,SYU PROPERTIES LLC,20 W 47th St,New York,NY,10036-3303,11/18/2021,...,Limited Liability Company(LLC),224478,Signature Bank,NEW YORK CITY,NY,Male Owned,Non-Veteran,NaN,151088.03,10/20/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,9549278903,05/12/2021,248,PPP,KENIA GONZALEZ,211 Essex St,Syracuse,NY,13204-1639,NaN,...,Sole Proprietorship,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Female Owned,Veteran,NaN,20914.75,10/08/2021
899996,9550078910,05/12/2021,202,PPP,ASHANI DAVIS,15 bridge 3E,Brooklyn,NY,11201,NaN,...,Sole Proprietorship,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Female Owned,Non-Veteran,NaN,20904.91,09/22/2021
899997,9550177408,05/20/2020,202,PPP,DOVID ZLOTNICK,1517 East 36th Street,Brooklyn,NY,11234-3415,04/10/2021,...,Independent Contractors,456756,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,NaN,21003.22,03/17/2021
899998,9550328902,05/12/2021,235,PPP,JAVON BANTON,73 Lawrence Rd,Hempstead,NY,11550-7529,NaN,...,Sole Proprietorship,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Male Owned,Unanswered,NaN,NaN,NaN
899999,9550818907,05/12/2021,202,PPP,CHRISTOPHER WALKER,545 Alabama Ave Apt 1B,Brooklyn,NY,11207-6266,NaN,...,Sole Proprietorship,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Male Owned,Non-Veteran,NaN,20926.90,10/29/2021

In [22]:
### second csv for less than $150,000 in loans
state3_filter = tenth.BorrowerState == "NY"
ny3_csv= tenth[state3_filter]
ny3_csv

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9550948900,05/12/2021,202,PPP,IRVIN POWELL,18411 144th Rd,Springfield Gardens,NY,11413-3326,NaN,...,Independent Contractors,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Male Owned,Unanswered,NaN,NaN,NaN
1,9551008902,05/12/2021,202,PPP,ASHELYN ARIAS,468 New Jersey Ave,Brooklyn,NY,11207-4715,NaN,...,Sole Proprietorship,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Female Owned,Non-Veteran,NaN,20910.70,10/14/2021
2,9551428409,02/17/2021,202,PPS,CYCLE INTERACTIVE LLC,504 Grand St Apt B61,New York,NY,10002-4147,11/19/2021,...,Limited Liability Company(LLC),48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,20973.21,10/26/2021
3,9551628900,05/12/2021,202,PPP,ELIZABETH CALO,1998 Bathgate Ave,Bronx,NY,10457-4407,NaN,...,Sole Proprietorship,188361,"Prestamos CDFI, LLC",Phoenix,AZ,Female Owned,Non-Veteran,NaN,NaN,NaN
4,9551748302,01/31/2021,202,PPS,RICHARD LONINGER DPM P.C.,121 E 60th St,New York,NY,10022-1117,NaN,...,Sole Proprietorship,48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369385,3353087703,05/01/2020,202,PPP,CARLOS GUAMAN,4872 37th st 2 fl,Long Island city,NY,11101,NaN,...,Self-Employed Individuals,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,NaN,NaN
369386,2806897905,06/12/2020,202,PPP,ALLISON ZAMORA CONSULTING LLC,300 EAST 40TH STREET APT 8X,NEW YORK,NY,10016-0298,11/30/2020,...,Sole Proprietorship,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,NaN,NaN
369387,5690137400,05/12/2020,248,PPP,TRACI COLLINS,8349 South Main Street,CICERO,NY,13039-8534,NaN,...,Sole Proprietorship,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,NaN,NaN
369388,1667788603,03/13/2021,202,PPP,JOSE ASAEL REYES RUMALDO,85th Road,HOLLIS,NY,11423,NaN,...,Sole Proprietorship,58771,Legacy Bank,HINTON,OK,Unanswered,Unanswered,NaN,NaN,NaN
369389,3812177303,04/29/2020,219,PPP,"NH ARCHITECTURE, P.C.",2099 West Ridge Road,ROCHESTER,NY,14626,10/16/2020,...,Corporation,112131,Genesee Regional Bank,ROCHESTER,NY,Male Owned,Non-Veteran,NaN,NaN,NaN

In [26]:
##testing out the rest of the CSVs to see if there are any NY in them
state4_filter = thirteen.BorrowerState == "NY"
ny4_csv= thirteen[state4_filter]
ny4_csv

Empty DataFrame
Columns: [LoanNumber, DateApproved, SBAOfficeCode, ProcessingMethod, BorrowerName, BorrowerAddress, BorrowerCity, BorrowerState, BorrowerZip, LoanStatusDate, LoanStatus, Term, SBAGuarantyPercentage, InitialApprovalAmount, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, ServicingLenderAddress, ServicingLenderCity, ServicingLenderState, ServicingLenderZip, RuralUrbanIndicator, HubzoneIndicator, LMIIndicator, BusinessAgeDescription, ProjectCity, ProjectCountyName, ProjectState, ProjectZip, CD, JobsReported, NAICSCode, Race, Ethnicity, UTILITIES_PROCEED, PAYROLL_PROCEED, MORTGAGE_INTEREST_PROCEED, RENT_PROCEED, REFINANCE_EIDL_PROCEED, HEALTH_CARE_PROCEED, DEBT_INTEREST_PROCEED, BusinessType, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, Gender, Veteran, NonProfit, ForgivenessAmount, ForgivenessDate]
Index: []

[0 rows x 53 columns]

In [5]:
# ny1_csv.drop(columns=['LoanNumber', 'SBAOfficeCode', 'ProcessingMethod', 'OriginatingLenderLocationID', 'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderCity', 'OriginatingLenderState', 'Veteran', 'SBAGuarantyPercentage','MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED', 'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED'])

In [27]:
##takes only the wanted columns
ny1_df = ny1_csv[['DateApproved','BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState', 'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term', 'InitialApprovalAmount', 'CurrentApprovalAmount', 'JobsReported','Race','Gender', 'NonProfit', 'ForgivenessAmount', 'ForgivenessDate']]

In [32]:
##takes only the wanted columns
ny2_df = ny2_csv[['DateApproved','BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState', 'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term', 'InitialApprovalAmount', 'CurrentApprovalAmount', 'JobsReported','Race','Gender', 'NonProfit', 'ForgivenessAmount', 'ForgivenessDate']]

In [33]:
##takes only the wanted columns
ny3_df = ny3_csv[['DateApproved','BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState', 'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term', 'InitialApprovalAmount', 'CurrentApprovalAmount', 'JobsReported','Race','Gender', 'NonProfit', 'ForgivenessAmount', 'ForgivenessDate']]

In [ ]:
###Call on the dataframes

In [7]:
ny1_df

,DateApproved,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,JobsReported,Race,Gender,NonProfit,ForgivenessAmount,ForgivenessDate
605841,04/24/2021,THE CENTER FOR DISCOVERY INC.,641 Old Route 17,Monticello,NY,12701-7014,NaN,Exemption 4,60,10000000.0,10000000.0,500.0,Unanswered,Unanswered,Y,NaN,NaN
605842,05/03/2020,"BEDDING ACQUISITION, LLC",60 EAST 42ND ST SUITE 1250,NEW YORK,NY,10165-1299,07/16/2021,Paid in Full,24,10000000.0,10000000.0,500.0,Unanswered,Unanswered,NaN,10110555.56,06/11/2021
605843,04/09/2020,P A L ENVIRONMENTAL SAFETY CORP,1102 QUEENS PLZ S,LONG ISLAND CITY,NY,11101-4908,NaN,Exemption 4,24,10000000.0,10000000.0,160.0,Unanswered,Unanswered,NaN,NaN,NaN
605844,04/09/2020,"CHOP'T HOLDINGS, LLC","853 Broadway, Suite 606 0.0",New York,NY,10003-4723,NaN,Exemption 4,24,10000000.0,10000000.0,500.0,Unanswered,Unanswered,NaN,NaN,NaN
605845,04/09/2020,SENTRY CENTERS HOLDINGS LLC,"101 Greenwich Street, 4th Floor 0.0",New York,NY,10006-1867,07/22/2021,Paid in Full,24,10000000.0,10000000.0,500.0,Unanswered,Unanswered,NaN,10115966.67,06/11/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679949,03/26/2021,ALT BUSINESS PLATFORMS INC,13159 224th St,Laurelton,NY,11413-1727,NaN,Exemption 4,60,150000.0,150000.0,13.0,Unanswered,Male Owned,NaN,150941.10,11/16/2021
679950,03/12/2021,GREEN WELLNESS CENTER & DAY SPA INC,519 Central Ave,Massapequa,NY,11758-4904,NaN,Exemption 4,60,150000.0,150000.0,35.0,Unanswered,Female Owned,NaN,NaN,NaN
679951,03/26/2021,COMMUNITY ACTION OF ORLEANS AND GENESEE COUNTY...,409 E State St,Albion,NY,14411-1123,NaN,Exemption 4,60,150000.0,150000.0,124.0,Unanswered,Unanswered,Y,150950.00,11/15/2021
679952,02/18/2021,D & D BILLING SERVICS INC,1175 W Broadway,Hewlett,NY,11557-1932,NaN,Exemption 4,60,150000.0,150000.0,16.0,Unanswered,Unanswered,NaN,NaN,NaN
679953,04/28/2020,BEAR STEEL INC.,53 Hanse Ave,Freeport,NY,11520-4608,05/15/2021,Paid in Full,24,150000.0,150000.0,14.0,Unanswered,Unanswered,NaN,151404.17,04/08/2021

In [34]:
ny2_df

,DateApproved,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,JobsReported,Race,Gender,NonProfit,ForgivenessAmount,ForgivenessDate
608441,01/27/2021,MEDUSA NYC LLC,133 5th Ave,Brooklyn,NY,11217-4661,NaN,Exemption 4,60,149999.5,149999.5,10,Unanswered,Male Owned,NaN,NaN,NaN
608442,02/18/2021,INDAY 1178 LLC,1133 Broadway,New York,NY,10010-7903,NaN,Exemption 4,60,149999.0,149999.0,26,Asian,Male Owned,NaN,NaN,NaN
608443,01/20/2021,PEKAR HANDWERKER NYC LLC,136 Atlantic Ave Ste 1,Brooklyn,NY,11201-6878,09/24/2021,Paid in Full,60,149999.0,149999.0,16,Unanswered,Unanswered,NaN,150853.79,08/18/2021
608444,01/21/2021,METRO HAIR MODES INC,1850 Newbridge Rd,North Bellmore,NY,11710-2219,09/25/2021,Paid in Full,60,149999.0,149999.0,39,Unanswered,Unanswered,NaN,150919.54,09/09/2021
608445,01/21/2021,SYU PROPERTIES LLC,20 W 47th St,New York,NY,10036-3303,11/18/2021,Paid in Full,60,149999.0,149999.0,7,Unanswered,Male Owned,NaN,151088.03,10/20/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,05/12/2021,KENIA GONZALEZ,211 Essex St,Syracuse,NY,13204-1639,NaN,Exemption 4,60,20832.0,20832.0,1,Black or African American,Female Owned,NaN,20914.75,10/08/2021
899996,05/12/2021,ASHANI DAVIS,15 bridge 3E,Brooklyn,NY,11201,NaN,Exemption 4,60,20832.0,20832.0,1,Black or African American,Female Owned,NaN,20904.91,09/22/2021
899997,05/20/2020,DOVID ZLOTNICK,1517 East 36th Street,Brooklyn,NY,11234-3415,04/10/2021,Paid in Full,24,20832.0,20832.0,1,Unanswered,Unanswered,NaN,21003.22,03/17/2021
899998,05/12/2021,JAVON BANTON,73 Lawrence Rd,Hempstead,NY,11550-7529,NaN,Exemption 4,60,20832.0,20832.0,1,Black or African American,Male Owned,NaN,NaN,NaN
899999,05/12/2021,CHRISTOPHER WALKER,545 Alabama Ave Apt 1B,Brooklyn,NY,11207-6266,NaN,Exemption 4,60,20832.0,20832.0,1,Black or African American,Male Owned,NaN,20926.90,10/29/2021

In [35]:
ny3_df

,DateApproved,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,JobsReported,Race,Gender,NonProfit,ForgivenessAmount,ForgivenessDate
0,05/12/2021,IRVIN POWELL,18411 144th Rd,Springfield Gardens,NY,11413-3326,NaN,Exemption 4,60,20832.00,20832.00,1.0,Black or African American,Male Owned,NaN,NaN,NaN
1,05/12/2021,ASHELYN ARIAS,468 New Jersey Ave,Brooklyn,NY,11207-4715,NaN,Exemption 4,60,20832.00,20832.00,1.0,Unanswered,Female Owned,NaN,20910.70,10/14/2021
2,02/17/2021,CYCLE INTERACTIVE LLC,504 Grand St Apt B61,New York,NY,10002-4147,11/19/2021,Paid in Full,60,20832.00,20832.00,1.0,Unanswered,Unanswered,NaN,20973.21,10/26/2021
3,05/12/2021,ELIZABETH CALO,1998 Bathgate Ave,Bronx,NY,10457-4407,NaN,Exemption 4,60,20832.00,20832.00,1.0,Unanswered,Female Owned,NaN,NaN,NaN
4,01/31/2021,RICHARD LONINGER DPM P.C.,121 E 60th St,New York,NY,10022-1117,NaN,Exemption 4,60,20832.00,20832.00,1.0,Unanswered,Unanswered,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369385,05/01/2020,CARLOS GUAMAN,4872 37th st 2 fl,Long Island city,NY,11101,NaN,Exemption 4,24,5009.03,9.03,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369386,06/12/2020,ALLISON ZAMORA CONSULTING LLC,300 EAST 40TH STREET APT 8X,NEW YORK,NY,10016-0298,11/30/2020,Paid in Full,60,4.00,4.00,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369387,05/12/2020,TRACI COLLINS,8349 South Main Street,CICERO,NY,13039-8534,NaN,Exemption 4,24,1001.05,1.05,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369388,03/13/2021,JOSE ASAEL REYES RUMALDO,85th Road,HOLLIS,NY,11423,NaN,Exemption 4,60,20297.00,0.00,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369389,04/29/2020,"NH ARCHITECTURE, P.C.",2099 West Ridge Road,ROCHESTER,NY,14626,10/16/2020,Paid in Full,24,115800.00,0.00,11.0,White,Male Owned,NaN,NaN,NaN

In [36]:
##concatenate both dataframes that has less than $150,000 in loans
frames = [ny2_df, ny3_df]
less_than_150df = pd.concat(frames)

In [41]:
less_than_150df

,DateApproved,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,JobsReported,Race,Gender,NonProfit,ForgivenessAmount,ForgivenessDate
608441,01/27/2021,MEDUSA NYC LLC,133 5th Ave,Brooklyn,NY,11217-4661,NaN,Exemption 4,60,149999.50,149999.50,10.0,Unanswered,Male Owned,NaN,NaN,NaN
608442,02/18/2021,INDAY 1178 LLC,1133 Broadway,New York,NY,10010-7903,NaN,Exemption 4,60,149999.00,149999.00,26.0,Asian,Male Owned,NaN,NaN,NaN
608443,01/20/2021,PEKAR HANDWERKER NYC LLC,136 Atlantic Ave Ste 1,Brooklyn,NY,11201-6878,09/24/2021,Paid in Full,60,149999.00,149999.00,16.0,Unanswered,Unanswered,NaN,150853.79,08/18/2021
608444,01/21/2021,METRO HAIR MODES INC,1850 Newbridge Rd,North Bellmore,NY,11710-2219,09/25/2021,Paid in Full,60,149999.00,149999.00,39.0,Unanswered,Unanswered,NaN,150919.54,09/09/2021
608445,01/21/2021,SYU PROPERTIES LLC,20 W 47th St,New York,NY,10036-3303,11/18/2021,Paid in Full,60,149999.00,149999.00,7.0,Unanswered,Male Owned,NaN,151088.03,10/20/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369385,05/01/2020,CARLOS GUAMAN,4872 37th st 2 fl,Long Island city,NY,11101,NaN,Exemption 4,24,5009.03,9.03,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369386,06/12/2020,ALLISON ZAMORA CONSULTING LLC,300 EAST 40TH STREET APT 8X,NEW YORK,NY,10016-0298,11/30/2020,Paid in Full,60,4.00,4.00,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369387,05/12/2020,TRACI COLLINS,8349 South Main Street,CICERO,NY,13039-8534,NaN,Exemption 4,24,1001.05,1.05,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369388,03/13/2021,JOSE ASAEL REYES RUMALDO,85th Road,HOLLIS,NY,11423,NaN,Exemption 4,60,20297.00,0.00,1.0,Unanswered,Unanswered,NaN,NaN,NaN
369389,04/29/2020,"NH ARCHITECTURE, P.C.",2099 West Ridge Road,ROCHESTER,NY,14626,10/16/2020,Paid in Full,24,115800.00,0.00,11.0,White,Male Owned,NaN,NaN,NaN

In [45]:
##further reduce the wanted columns
ny5 = less_than_150df[['DateApproved','BorrowerName', 'LoanStatus', 'CurrentApprovalAmount', 'ForgivenessAmount']]

In [54]:
ny5

,DateApproved,BorrowerName,LoanStatus,CurrentApprovalAmount,ForgivenessAmount
608441,01/27/2021,MEDUSA NYC LLC,Exemption 4,149999.50,NaN
608442,02/18/2021,INDAY 1178 LLC,Exemption 4,149999.00,NaN
608443,01/20/2021,PEKAR HANDWERKER NYC LLC,Paid in Full,149999.00,150853.79
608444,01/21/2021,METRO HAIR MODES INC,Paid in Full,149999.00,150919.54
608445,01/21/2021,SYU PROPERTIES LLC,Paid in Full,149999.00,151088.03
...,...,...,...,...,...
369385,05/01/2020,CARLOS GUAMAN,Exemption 4,9.03,NaN
369386,06/12/2020,ALLISON ZAMORA CONSULTING LLC,Paid in Full,4.00,NaN
369387,05/12/2020,TRACI COLLINS,Exemption 4,1.05,NaN
369388,03/13/2021,JOSE ASAEL REYES RUMALDO,Exemption 4,0.00,NaN
369389,04/29/2020,"NH ARCHITECTURE, P.C.",Paid in Full,0.00,NaN

In [38]:
###function to turn a dataframe into a csv
def turn_2_csv (name_of_file, data_frame):
    '''
    takes a dataframe and a file name and exports as a csv file
    '''
    print ("your file has been converted!!")
    return data_frame.to_csv(name_of_file, encoding= 'utf-8', index=False)

In [39]:
##for datframe for more than $150k in loans
turn_2_csv ("more_than_150.csv", ny1_df)

your file has been converted!!

In [40]:
##for datframe for less than $150k in loans that was concactenated
turn_2_csv ("less_than_150.csv", ny5)

your file has been converted!!

In [56]:
##use the already divided dataframes incase the concacted one is too large
ny7 = ny2_df [['DateApproved','BorrowerName', 'LoanStatus', 'CurrentApprovalAmount']]
ny8 = ny3_df [['DateApproved','BorrowerName', 'LoanStatus', 'CurrentApprovalAmount']]

In [58]:
##turn to csv 
turn_2_csv ("dless_than_150.csv", ny7)

your file has been converted!!

In [59]:
turn_2_csv ("fless_than_150.csv", ny8)

your file has been converted!!